*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    /* vh: viewport height */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(rgb(87,150,163),rgb(48,62,143));
}

.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temperature{
    flex-direction: column;

}

.temperature:hover{
    cursor: pointer;
}

.temperature-section{
    display: flex;
    align-items: center;
}

.temperature span{
    margin: 10px;
    font-size: 30px;
}

.temperature h2{
    font-size: 40px;
    
}
